# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.soft-arch-encapsulation.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\moogi\RiderProjects\soft-arch-encapsulation\.idea\.idea.soft-arch-encapsulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
